<h1>Wunderlist account</h1>

<% if @signed_in %>
  <p>You are signed in to Wunderlist as <b><%= @account.email %></b>.</p>
<% else %>
  <p>You are not signed in to Wunderlist.</p>
<% end %>

<%= render 'form' %>
