<article class="project">
  <header>
    <h1><%= link_to "Project: #{item.name}", item %></h1>
  </header>
  <div class="content">
    <% if item.goal %>
      <p><%= item.goal %></p>
    <% end %>
  </div>
  <nav>
    <p>
      <%= link_to 'Edit', edit_project_path(item) %>
      <%= link_to 'Destroy', project_path(item), method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </p>
  </nav>
</article>
