<%= render partial: 'item', collection: @projects %>

<section id="properties">
  <%= render partial: 'properties/item', collection: @properties %>
</section>

<% if current_user %>
  <p><%= link_to 'New project', new_project_path %></p>
  <p><%= link_to 'New property', new_property_path %></p>
<% end %>
