{% load staticfiles %}

<!doctype html>

<title>geendashboard</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'style/main.css' %}">
<script src="{% static 'components/jquery/jquery.js' %}"></script>
<script src="{% static 'script/main.js' %}"></script>

<header>
<h1><a href="{% url 'project-list' %}">geendashboard</a></h1>
  {% if user.is_authenticated %}
    <p>
      {{ user }}
      <a href="{% url 'logout' %}">Log out</a>
      <a href="{% url 'wunderlist-settings' %}">Wunderlist settings</a>
    </p>
  {% else %}
    <p><a href="{% url 'login' %}">Log in</a></p>
  {% endif %}
</header>

{% block content %}{% endblock %}
