{% extends 'projects/project_base.html' %}

{% block project_content %}
  <p>{{ project.goal }}</p>
  {% if project.start %}
    <p>Start: {{ project.start }}</p>
  {% endif %}
  {% if project.end %}
    <p>End: {{ project.end }}</p>
  {% endif %}
  {% if project.due %}
    <p>Due: {{ project.due }}</p>
  {% endif %}

  {% if project.tasklist %}
    <section class="tasks">
      <ul>
        {% for task in project.tasklist.get_tasks %}
        <li {% if task.completed_by_id %}class="completed"{% endif %}>
            <input type="checkbox" disabled {% if task.completed_by_id %}checked{% endif %}>
            {{ task.title }}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  <form action="{% url 'wunderlist-attach' slug=project.slug %}" method="POST">
    {% csrf_token %}
    <p>
      <a href="{% url 'wunderlist-attach' slug=project.slug %}">[+ Attach new Wunderlist]</a>
      {% if project.tasklist %}
        <input type="hidden" name="list" value="{{ project.tasklist.wunderlist_id }}">
        <button>Refresh current Wunderlist</button>
      {% endif %}
    </p>
  </form>
{% endblock %}
