{% extends 'projects/project_base.html' %}

{% load gravatar %}

{% block project_content %}
  {% if project.involvement_set.all.count %}
    <ul class="involved">
      {% for involvement in project.involvement_set.all %}
        <li>
          <span class="user">
            <span class="avatar"><img src="{% gravatar_url involvement.user.email %}"></span>
            <span class="name">{{ involvement.user }}</span>
            <span class="role">({{ involvement.role }})</span>
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if project.goal %}
    <p>{{ project.goal }}</p>
  {% endif %}

  {% if project.start %}
    <p>Start: {{ project.start }}</p>
  {% endif %}
  {% if project.end %}
    <p>End: {{ project.end }}</p>
  {% endif %}
  {% if project.due %}
    <p>Due: {{ project.due }}</p>
  {% endif %}

  <section class="tasks">
    <h1>Tasks</h1>
    {% if project.tasklist %}
      <ul>
        {% for task in project.tasklist.get_tasks %}
        <li {% if task.completed_by_id %}class="completed"{% endif %}>
            <input type="checkbox" disabled {% if task.completed_by_id %}checked{% endif %}>
            {{ task.title|urlizetrunc:30 }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="{% url 'wunderlist-attach' slug=project.slug %}" method="POST">
      {% csrf_token %}
      <p>
        <a href="{% url 'wunderlist-attach' slug=project.slug %}">[+ Attach new Wunderlist]</a>
        {% if project.tasklist %}
          <input type="hidden" name="list" value="{{ project.tasklist.wunderlist_id }}">
          <button>Refresh current Wunderlist</button>
        {% endif %}
      </p>
    </form>
  </section>
{% endblock %}
