{% extends 'base.html' %}

{% block content %}
  <nav>
    <p><a href="{% url 'project-list' %}">Back to project list</a></p>
  </nav>
  <article>
    <h1>Project: {{ project.name }}</h1>
    <p>{{ project.goal }}</p>
    <p>Start: {{ project.start }}</p>
    <p>End: {{ project.end }}</p>
    <p>Due: {{ project.due }}</p>
    <p><a href="{% url 'wunderlist-attach' slug=project.slug %}">[+ Attach Wunderlist items]</a>

    {% if project.tasklist %}
      <h2>Tasks</h2>
      <ul>
        {% for task in project.tasklist.get_tasks %}
          <li>
            <input type="checkbox" disabled {% if task.completed_by_id %}checked{% endif %}>
            {{ task.title }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </article>
{% endblock %}
