@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,300,400|Roboto:400,700)

@import '_config'

*
  margin: 0
  padding: 0

body
  background: #eee
  font-family: Roboto, sans-serif

body, h1, h2, h3
  font-size: 15px
  line-height: $unit

body, a
  color: #111

header#site
  background: #111
  position: relative
  text-transform: lowercase
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: $left_bar
  font-size: 11px
  h1
    font-weight: normal
    font-size: 11px
    padding: $unit / 4
  p, a
    color: #ddd
    text-decoration: none
  p
    color: #aaa
  p a
    display: inline-block
    height: 2 * $unit
    padding: $unit / 4
  a:hover
    color: #fff

#content
  position: absolute
  left: $left_bar
  right: 0
  top: 0
  bottom: 0
  overflow: auto

body > nav
  margin: $unit

a
  text-decoration: underline

span.user
  a
    text-decoration: none
  span.name
    font-weight: bold
  span.avatar img
    vertical-align: middle
    width: 32px
    height: 32px

.avatar img
  border-radius: 50%
